.App {
  font-family: 'Spartan', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btnsign{
  width: 100%;
}
@media only screen and (max-width: 991px){
  .btnsign{
    width: 93vw;
  }
  .slide-hotel{
    height: 1000px;
  }
  .slide-hotel img{
    width: 120vw;
    object-fit: cover;
  }
}
.slide-hotel{
  height: 450px;
  background-color: rgb(39, 39, 39);
}
.slide-hotel img{
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}
@media only screen and (max-width: 1024px){
  .slide-hotel{
    height: 550px;
  }
  .slide-hotel img{
    height: 100%;
  }
}
.manage_img{
  width: 100%;
  height: 180px;
}
.manage_img img{
  height: 100%;
}
.Addimg{
  width: 100%;
  height: 400px;
  text-align: center;
}
.Addimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Addimg input{
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid black;
  width: 300px;
}
.Addimg div{
  width: 100%;
  height: 360px;
  background-image: url("./pic/upload.png");
  background-repeat: no-repeat;
  background-size: 100% 360px;
}
.room div{
  width: 100%;
  height: 150px;
  background-image: url("./pic/upload.png");
  background-repeat: no-repeat;
  background-size: 100% 90%;
}
.room img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.room input{
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
}
.MyRoom{
  width: 100%;
  height: 100%;
  padding: 30px;
  border: 2px solid rgb(82, 82, 82);
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.boximg{
  width: 100%;
  height: 240px;
}
.boximg img{
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.room img{
  width: 100%;
  height: 130px;
}
.cardImage{
  width: 100%;
  height: 200px;
}
.cardImage img{
  width: 100%;
  height: 100%;
}
.signinbox{
  padding-top: 80px;
}
.SignIn{
  height: 100%;
  background-color: rgba(238, 237, 237, 0.726);
}
.spaceCreate div{
  padding-top: 90px;
  width: 100%;
  background-color: #ffffff00;
}
.errmsg{
  width: 100%;
  color: red;
  text-align: center;
}
.footer{
  padding-top: 100px;
  padding: 50px;
  background-color: #282c34;
  color: white;
}
.register{
  width: 100%;
  background-color: rgba(238, 237, 237, 0.726);
  padding: 50px;
}
.imgHotel{
  width: 100%;
  height: 500px;
  opacity: 0.8;
}
.imgHotel img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bookingImg{
  width: 100%;
  height: 225px;
}
.bookingImg img{
  width: 100%;
  height: 100%;
}
.container{
  padding-bottom: 80px;
}
.help{
  margin-top: 50px;
  padding: 30px;
  border-radius: 5px;
  color: rgb(73, 138, 0);
  border: 2px solid rgb(107, 201, 0);
}
.Mybooking{
  padding: 30px;
  overflow-x: auto;
}
.roomstatus{
  padding: 30px;
  overflow-x: auto;
}
.cardHotel{
  height: 130px;
}
.cardHotel p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search{
  width: 300px;
  text-align: center;
}
.searchComp{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.searchComp > div{
  width: 300px;
}
